*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 100vw;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.Content__Container{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

.Gradient__Heading{
    font-size: 3rem;
    background: -webkit-linear-gradient(-90deg, #DD772C 20%, #785DA8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem 0 0 2rem;
}
.Container{
  /* padding: 2rem; */
}